



<div class="callback-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Request a <em>call back</em></h2>
            <span>Etiam suscipit ante a odio consequat</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="contact-form">
              <div  id="form-error-message" class="error-message animate__animated">
                Un erreur est survenue! Merci de réessayer plus tard.
              </div>
            <!-- remplace la balise form ouvrante, on va définir l'attribut data-controller pour que Stimulus connecte le fichier postform_ajax_controller.js -->
              {{ form_start(formMessage, { attr : { "data-controller" : "postform-ajax"} })}}
            
             <!-- <form id="contact" action="" method="post">   -->


              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <!-- <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required=""> -->
                    {{ form_widget( formMessage.fullName, { attr : { "class" : "form-control", "placeholder" : "full name" } } ) }}
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <!-- <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required=""> -->
                    {{ form_widget( formMessage.email, { attr : { "class" : "form-control", "placeholder" : "email" } } ) }}
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    {{ form_widget( formMessage.subject, { attr : { "class" : "form-control", "placeholder" : "Subject" } } ) }}
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                
                    {{ form_widget( formMessage.messageContent, { attr : { "class" : "form-control", "placeholder" : "Your message" } } ) }}

                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                  </fieldset>
                </div>
              </div>
              {{ form_end(formMessage) }}
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>